.jumbotron{
  background-image: url("../img/jumbotron_background.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  color:black;
  text-shadow: 2px 2px #ffffff;
}

.loginBtn{
  height:200px;
  width:400px;
  font-size: 50px;
  margin:auto;
  margin-top:5px;
}

.loginform{
  background-color: #34495e;
  display:inline-grid;
  text-align:center;
  border:2px;
  border-color: black;
}

.loginRow{
  margin-top:100px;
}

.loginText{
  text-align: center;
}

.loginColumn{
  padding-left:500px;
  padding-right:500px;
}

.loginform-admin{
  background-color: #2ecc71;
  display:none;
}

.loginform-guest{
  display: none;
}

.adminlogin{
  display:inline-grid;
}

.guestlogin{
  display:inline-grid;
}
