html{
  width: 100%;
  height: 100%;
}
.loginBtn{
  height:200px;
  width:400px;
  font-size: 50px;
  margin:auto;
  margin-top:5px;
}
.jumbotron{
  background-image: url("../img/jumbotron_background.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  color:black;
  text-shadow: 2px 2px #ffffff;
}

.loginform{
  background-color: pink;
  display:inline-grid;
  text-align:center;
}

.admin{
  background-color: blue;
}

.loginRow{
  margin-top:100px;
}

.loginColumn{
  padding-left:400px;
  padding-right:400px;
}

.loginform-admin{
  display:none;
}

.loginform-guest{
  display: none;
}

.adminlogin{
  display:inline-grid;
}
.guestlogin{
  display:inline-grid;
}

label{
  float:left;
  padding: 10px;
}
input{
  float:left;
  padding: 3px;
}
label{
  float:left;
}
input{
  float:left;
}
