<html>
  <head>
    <title>Japan World Cup Betting </title>
    <link rel="stylesheet" type="text/css" href="templates/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="templates/css/bootstrap/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="templates/css/bet.css">


  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Japan World Cup</h1>
        <p> A dynamic and new way of playing Japan World Cup.
        With the comfiness of your browser :^) </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="button-area" style="display:flex">
            <button class="btn btn-success loginBtn">
            <a href="/templates/login.html">  Login</a>
            </button>

            <button class="btn btn-primary loginBtn">
              Sign up
            </button>
          </div>
        </div>



      </div>
    </div>
      <script src="templates/js/jquery/jquery-3.2.1.min.js"></script>
      <script src="templates/js/bootstrap/bootstrap.min.js"></script>
  </body>
</html>
